<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>Hello app</title>
</head>

<body style="margin-left:20px; margin-top:20px;">
  <h1 class="header" style="color:orangered;">String Manipulations</h1>
  <br>
  <div id="app">

    <input v-model="stringInput" placeholder="Text">

    
    <select v-model="operation" name="operation" id="operation">
      <option value="upper">UpperCase</option>
      <option value="lower">LowerCase</option>

      
 
    </select>
    <button v-on:click="stringMani">Do it!</button>
    <p>{{ result }}</p>
    <br>
    

  </div>

  <script src="bundle.js"></script>
</body>

</html>